---
title: Home
---
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- Post -->
      {{post '*.md'}}
    </div>
  </body>
</html>